#formulaire {
    display: flex;
    flex-direction: column;
    width: 408px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    height: 310px;
}

input {
    margin-bottom: 10px;
    zoom: 130%;
    border-radius: 5px;
    width: 200px;
    background-color: rgb(196, 196, 196);
}

#formulaire input:last-child {
    width: 208px;
    background-color: white;
}

input:hover {
    background-color: rgb(26, 155, 194);
}

#formulaire input:last-child:hover {
    background-color: green;
}

#teapot {
    text-align: center;
}

#menu {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 410px;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
}

.menu {
    width: 80px;
    border: 1px solid black;
    border-radius: 3px;
    height: 30px;
    background-color: rgb(196, 196, 196);
    zoom: 100%;
}

#Copyright {
    font-weight: bold;
    margin: auto;
}

#form {
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    height: 400px;
}

#nonRempli {
    text-align: center;
}

#pp {
    margin-top: 0px;
}

#creer {
    margin-top: 7px;
}

#message {
    font-weight: bold;
    text-align: center;
    margin-top: 3px;
}

#file {
    width: 208px;
}

.photoCenter {
    margin: auto;
}

.profileCenter {
    text-align: center;
}

#footer {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 430px;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-top: 40px;
}

/*Waves*/

.waves {
    position: relative;
    width: 100%;
    height: 40px;
    min-height: 40px;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    max-height: 400px;
}

/* Animation */
.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
}

#copyright {
    margin-top: -35px;
    text-align: center;
}